.caja{
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: 100px;
    box-shadow: -20px 30px 10px black;
    /*primer valor es x,segundo es y y el tercero es el desenfoque
    y segun el signo + o - es el lado en el que va a estar
    */
    border: 2px solid white;
}

.caja2{
    width: 300px;
    height: 300px;
    /*border: 3px solid black;*/
    padding: 10px;
    box-sizing: border-box;
    border: 20px ridge #d17467;
    /*si pongo solo el 15 me redonde todas las puntas*/
    border-radius: 0 15px;

}

.texto{
    background-color: yellow;
    column-count: 4;
    /**/
    column-gap: 60px;
}

.texto p{
    margin: 0;
}