.contenedor{
    background-color: gray;
   
    display: flex;
    /*flex-direction: row-reverse; /*row 1-8 row-reverse 8-1*/
    flex-direction: column-reverse;/*pasa lo mismo q con row*/
}

.item{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 25px;
}